
<md-list>
    <md-list-item class="md-1-line">
        <md-content layout-padding>
            <form name="customeraddresssForm">
                <md-input-container>
                    <label>Address1</label>
                    <input name="address1" ng-model="address1" required md-maxlength="50">
                    <div ng-messages="customeraddresssForm.address1.$error" ng-show="customeraddresssForm.address1.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Address2</label>
                    <input name="address2" ng-model="address2" md-maxlength="50">
                    <div ng-messages="customeraddresssForm.address2.$error" ng-show="customeraddresssForm.address2.$dirty">
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Address3</label>
                    <input name="address3" ng-model="address3"  md-maxlength="50">
                    <div ng-messages="customeraddresssForm.address3.$error" ng-show="customeraddresssForm.address3.$dirty">
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Postal Code</label>
                    <input name="postalcode" ng-model="postalcode" required md-maxlength="5">
                    <div ng-messages="customeraddresssForm.postalcode.$error" ng-show="customeraddresssForm.postalcode.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Customer Id</label>
                    <input name="customerid" ng-model="customerid" required md-maxlength="10" ng-pattern="/^[0-9]/">
                    <div ng-messages="customeraddresssForm.customerid.$error" ng-show="customeraddresssForm.customerid.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                        <div ng-message="pattern">Only numbers are allowed</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>City</label>
                    <input name="city" ng-model="city" required md-maxlength="25">
                    <div ng-messages="customeraddresssForm.city.$error" ng-show="customeraddresssForm.city.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Phone1</label>
                    <input name="phone1" ng-model="phone1" required minlength="10" md-maxlength="10" ng-pattern="/^[0-9]/">
                    <div ng-messages="customeraddresssForm.phone1.$error" ng-show="customeraddresssForm.phone1.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="minlength">Must be 10 digits</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                        <div ng-message="pattern">Please enter a valid phone number.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Phone2</label>
                    <input name="phone2" ng-model="phone2" md-maxlength="10" ng-pattern="/^[0-9]/">
                    <div ng-messages="customeraddresssForm.phone2.$error" ng-show="customeraddresssForm.phone2.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="minlength">Must be 10 digits</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                        <div ng-message="pattern">Please enter a valid phone number.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Name</label>
                    <input name="name" ng-model="name" required md-maxlength="40">
                    <div ng-messages="customeraddresssForm.name.$error" ng-show="customeraddresssForm.name.$dirty">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Country Name</label>
                    <md-select name="countryid" ng-model="country" placeholder="Select a Country" ng-change="countryChange()" required>
                        <md-option ng-repeat="country in countries" value="{{country.Id}}|{{country.Code}}">
                            {{country.Name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="customeraddresssForm.countryid.$error" ng-show="customeraddresssForm.countryid.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>State Name</label>
                    <md-select name="stateid"  ng-model="stateid" placeholder="Select a State" required>
                        <md-option ng-repeat="state in states" value="{{state.Id}}">
                            {{state.Name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="customeraddresssForm.stateid.$error" ng-show="customeraddresssForm.stateid.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>AdressType </label>
                    <md-select name="addresstypeid"  ng-model="addresstypeid" placeholder="Select a Address Type" required>
                        <md-option ng-repeat="addressType in addressTypes" value="{{addressType.Id}}">
                            {{addressType.Name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="customeraddresssForm.addresstypeid.$error" ng-show="customeraddresssForm.addresstypeid.$dirty">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="customeraddresssForm.$invalid" ng-click="createCustomerAddress('add')"> Create</md-button>
                </md-input-container>
            </form>
        </md-content>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-1-line" ng-show="customeraddresssForm.$submitted && !customeraddresssForm.$invalid">
        <md-content layout-padding>
            <h5>Response:</h5>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="determinate" value="70" ng-show="!loginResponse.Address && !loginResponse.Message"></md-progress-circular>
            </div>
            <table class="table table-bordered">
                <tr ng-show="loginResponse.Address">
                    <th>Address Id</th>
                    <th>Address1</th>
                    <th>Address2</th>
                    <th>Address3</th>
                    <th>PostalCode</th>
                    <th>State Id</th>
                    <th>State Code</th>
                    <th>State Name</th>
                    <th>Country Id</th>
                    <th>Country Code</th>
                    <th>Country Name</th>
                    <th>CustomerId</th>
                    <th>City</th>
                    <th>Phone1</th>
                    <th>Phone2</th>
                    <th>AddressType Id</th>
                    <th>AddressType Name</th>
                    <th>Name</th>
                    <th>Instructions</th>
                </tr>

                <tr ng-show="loginResponse.Address" >
                    <td>{{ loginResponse.Address.Id }}</td>
                    <td>{{ loginResponse.Address.Address1 }}</td>
                    <td>{{ loginResponse.Address.Address2 }}</td>
                    <td>{{ loginResponse.Address.Address3 }}</td>
                    <td>{{ loginResponse.Address.PostalCode }}</td>
                    <td>{{ loginResponse.Address.State.Id }}</td>
                    <td>{{ loginResponse.Address.State.Code }}</td>
                    <td>{{ loginResponse.Address.State.Name }}</td>
                    <td>{{ loginResponse.Address.Country.Id }}</td>
                    <td>{{ loginResponse.Address.Country.Code }}</td>
                    <td>{{ loginResponse.Address.Country.Name }}</td>
                    <td>{{ loginResponse.Address.CustomerId }}</td>
                    <td>{{ loginResponse.Address.City }}</td>
                    <td>{{ loginResponse.Address.Phone1 }}</td>
                    <td>{{ loginResponse.Address.Phone2 }}</td>
                    <td>{{ loginResponse.Address.AddressType.Id }}</td>
                    <td>{{ loginResponse.Address.AddressType.Name }}</td>
                    <td>{{ loginResponse.Address.Name }}</td>
                    <td>{{ loginResponse.Address.Instructions }}</td>
                </tr>
                <tr ng-show="loginResponse.Message" style="color:red">
                    <td>{{ loginResponse.Message }}</td>
                </tr>
            </table>
        </md-content>
    </md-list-item>

</md-list>